In [1]:
import numpy as np
import pandas as pd

Linear Regression

In [2]:
def hypothesis(X , thetas):
    return np.dot(X , thetas)

In [3]:
def loss_function(actual , predicted):
    return np.mean((actual - predicted)**2)

In [4]:
def derivative_loss(X, Y, thetas):
    
    h = hypothesis(X, thetas)
    difference = Y - h
    r = np.dot(difference.T, X)
    r = -2*r / float(X.shape[0])
    
    return r

In [5]:
def gradient_descent(o_thetas, g_thetas, alpha):
    return (o_thetas - alpha * g_thetas)

#### Question 1 : For the given dataset implement gradient descent from scratch and find the linear relationship between features and output

In [6]:
data = pd.read_csv('Advertising.csv', index_col=0)
data

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [7]:
alpha = 0.00000001
thetas = np.array([20, 40, 60, 80])

In [8]:
# for aoiding space mismatch
ones = np.ones(data.shape[0])

In [9]:
# X-Y Split

X = data.iloc[: , :-1]
X['One'] = ones
X = np.array(X)

Y = np.array(data.iloc[: , -1])

In [10]:
def LinearRegression(X, Y, thetas, alpha):
    
    predictions = hypothesis(X , thetas)
    MSE = loss_function(Y , predictions)
    
    g_thetas = derivative_loss(X, Y, thetas).T
    new_thetas = gradient_descent(thetas, g_thetas, alpha)
    
    return new_thetas, MSE

In [11]:
# one time
new_thetas, MSE = LinearRegression(X, Y, thetas, alpha)
print("\nMSE : ", MSE)
print("Updates Thetas: ", new_thetas)

MSE :  39174098.65425
Updates Thetas:  [19.97992071 39.99697596 59.99577458 79.99988459]

In [12]:
# 20 times
for i in range(5):
    
    new_thetas, MSE = LinearRegression(X, Y, new_thetas, alpha)
    
    print("\nMSE : ", MSE)
    print("Updates Thetas: ", new_thetas)

MSE :  39131092.55089692
Updates Thetas:  [19.95985364 39.99395343 59.99155118 79.99976924]

MSE :  39088138.14525302
Updates Thetas:  [19.9397988  39.99093242 59.98732979 79.99965395]

MSE :  39045235.375016235
Updates Thetas:  [19.91975617 39.98791292 59.98311041 79.99953873]

MSE :  39002384.17795962
Updates Thetas:  [19.89972574 39.98489494 59.97889305 79.99942357]

MSE :  38959584.49193122
Updates Thetas:  [19.87970751 39.98187848 59.97467769 79.99930847]

In [13]:
print("Relationship betwen input and output : ")
print("Old thetas : ", thetas)
print("New thetas : ", new_thetas)

Relationship betwen input and output :
Old thetas :  [20 40 60 80]
New thetas :  [19.87970751 39.98187848 59.97467769 79.99930847]

Question 2 : Write a code that finds out the relationship between two linear arrays eg

o Input array x=[1,2,3,4,5,…]
o Output array y=[3,5,7,9,11,…]
o The code should work for any given input/output, use gradient descent.

In [14]:
def main(X, Y):
    
    one = np.ones(len(X))
    X = np.array([X, one]).T
    Y = np.array(Y)
    
    alpha = 0.079
    new_thetas = np.array([20, 40,])
    
    for i in range(100):
        new_thetas, MSE = LinearRegression(X, Y, new_thetas, alpha)
        
    print('Minimum Loss : ', MSE)
    print('Best Thetas : ', new_thetas)

In [15]:
X = [1, 2, 3, 4, 5]
Y = [3, 5, 7, 9, 11]

main(X, Y)

Minimum Loss :  0.8535584902612404
Best Thetas :  [1.41623141 3.10767563]

Question 3: Is linear regression good for classification? If yes, then why, and if no, then why?

Linear regression is a great algorithm but works best for continous values prediction, it is highly impacted by outliers. Hence we cannot use it to solve a classification problem.

Question 4: Why do we use mse (mean squared error) over squared error? What is the benefit of mse?

MSE calculates the average squared difference between the observed and predicted values. When a model has no error, the MSE equals zero. As model error increases, its value increases. So it has direct relation with the loss.

Question 5: Can you find a better estimator than mse?

Since MSE is a function of the parameter, there will not be one “best” estimator in terms of MSE.